/* RESET */
* {
  box-sizing: border-box;
}

/* BODY */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
}

/* ================= HEADER ================= */
header {
  padding: 20px;
  background: linear-gradient(to right, red, white);
  color: black;
}

header h1 {
  margin: 0 0 10px 0;
}

/* SEARCH */
#search {
  width: 100%;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  outline: none;
}

/* KATEGORI */
.kategori {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.kategori span {
  background: orange;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  white-space: nowrap;
}

/* ================= LIST LAGU ================= */
.music-list {
  padding: 10px;
  padding-bottom: 140px; /* RUANG BUAT PLAYER */
}

.track {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #111;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.track:active {
  background: #222;
}

.track img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}

.track div {
  font-size: 14px;
}

/* ================= PLAYER ================= */
.player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background: #111;
  padding: 10px;

  display: flex;
  align-items: center;
  gap: 10px;

  border-top: 1px solid #222;
}

.player img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}

.info {
  flex: 1;
}

/* NOW PLAYING */
#nowPlaying {
  font-size: 13px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* CONTROLS */
.controls {
  display: flex;
  gap: 8px;
  margin-bottom: 5px;
}

.controls button {
  background: orange;
  border: none;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.controls button:active {
  transform: scale(0.95);
}

/* PROGRESS */
#progress {
  width: 100%;
}

/* VOLUME */
#volume {
  width: 80px;
}
