body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0d0d0d;
  color: white;
}

header {
  text-align: center;
  padding: 20px;
}

input {
  padding: 12px;
  width: 90%;
  border-radius: 20px;
  border: none;
  margin-top: 10px;
}

.music-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding: 15px;
}

.card {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,255,200,0.2);
}

.card h3 {
  margin-bottom: 10px;
}

audio {
  width: 100%;
}
