body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
}

/* HEADER */
header {
  padding: 20px;
  background: linear-gradient(to right, red, white);
  color: black;
}

header h1 {
  margin: 0;
}

/* SEARCH */
#search {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin-top: 10px;
}

/* KATEGORI */
.kategori {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.kategori span {
  background: orange;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

/* LIST */
.music-list {
  padding: 10px;
}

.track {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #111;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.track img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

/* PLAYER */
.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.player img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.info {
  flex: 1;
}

.controls button {
  background: orange;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 10px;
}

#progress {
  width: 100%;
}

#volume {
  width: 80px;
}
